<form>
    <div class="form-group">
        <label for="courseName">CourseName</label>
        <input class="form-control"
         ngModel name="courseName" 
        #courseName = "ngModel" 
        (change)="log(courseName)" 
        type="text" 
        required
        minlength="4"
        >
        <div class="alert alert-danger"
            *ngIf="courseName.touched && !courseName.valid">
            <div *ngIf="courseName.errors.required">
                Course Name is Required.
            </div>
            <div *ngIf="courseName.errors.minlength">
                Course Name Should be atleast {{ courseName.errors.minlength.requiredLength }} Characters.
            </div>
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>