<form [formGroup]="form" (ngSubmit)=submit(form.value)>  
    <label>Name</label>
    <input 
    type="text" 
    class="form-control" 
    formControlName="name">
    <div class="danger alert-danger"
    *ngIf="name.touched && name.invalid"
    >
    <div *ngIf="name.errors.required" >Name is Required.</div>
    </div>
    <div 
    class="form-group" 
    formGroupName="contact">
        <label>Email</label>  
        <input 
        type="text" 
        class="form-control" 
        formControlName="email">
        <label>Phone</label>
        <input 
        type="text" 
        class="form-control" 
        formControlName="phone">
    </div>
        <label>Enter Topics</label>
    <input
    class="form-control"
    type="text" 
    (keyup.enter)="addTopic(topic)"
    #topic
    >
    <ul class="list-group">
        <li *ngFor="let topic of topics.controls"
        (click)="removeTopic(topic)" 
        class="list-group-item">{{ topic.value }}</li>
    </ul>  
    <br>
    <button 
    class="btn btn-primary"
    [disabled]= form.invalid
    >Create</button>
</form>